@responsive {
  .text-description {
    @apply text-white-light font-normal text-base leading-snug tracking-normal;
  }

  .text-label {
    @apply text-white font-extrabold text-base leading-tight tracking-wide;
  }

  .text-primary {
    @apply text-white font-normal text-base leading-snug tracking-normal;
  }

  .text-secondary {
    @apply text-white-lighter font-normal text-base leading-snug tracking-wide;
  }
}
