@font-face {
  font-family: 'Neuzeit S LT Std';
  font-weight: 400;
  src: url('../fonts/NeuzeitSLTStd-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Neuzeit S LT Std';
  font-weight: 800;
  src: url('../fonts/NeuzeitSLTStd-BookHeavy.otf') format('opentype');
}
