// Colors
:root {
  --color-original-black: #000;
  --color-white: #fff;
  --color-black: #15151a;
  --color-red-500: #e20041;
  --color-white-180: rgba(255, 255, 255, 0.18);
  --color-white-200: rgba(255, 255, 255, 0.2);
  --color-white-300: rgba(255, 255, 255, 0.3);
  --color-white-500: rgba(255, 255, 255, 0.5);
  --color-white-600: rgba(255, 255, 255, 0.6);
  --color-input-webkit-box-shadow: rgb(93, 91, 89);
}
