.message {
  &__content {
    @apply ml-5;
  }

  &__title {
    @apply font-bold text-white text-sm tracking-wide;
  }

  &__item {
    @apply text-white-600 text-xs tracking-wider;
  }

  &_bullet-icon {
    @pply mr-1;
  }

  &__list {
    @apply mt-2;
  }
}
