.message {
  @apply w-full flex p-5 rounded-normal;

  background: rgba(37, 37, 37, 0.6);
  backdrop-filter: blur(54px);

  &__content {
    @apply ml-5;
  }

  &__title {
    @apply font-bold text-white text-sm tracking-tighter;
  }

  &__item {
    @apply text-white-600 text-xs tracking-tight;
  }

  &__list-icon {
    @apply mr-1;
  }

  &__list {
    @apply mt-2;
  }
}
