// Colors
$color-black: (
  default: rgb(0, 0, 0),
  500: rgb(21, 21, 26)
);

$color-white: (
  default: rgb(255, 255, 255),
  180: rgba(255, 255, 255, 0.18),
  200: rgba(255, 255, 255, 0.2),
  600: rgba(255, 255, 255, 0.6)
);
