// Colors
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-white-light: rgba(255, 255, 255, 0.6);
  --color-white-lighter: rgba(255, 255, 255, 0.5);
  --color-white-lightest: rgba(255, 255, 255, 0.2);
}
